body{
    background-color: #8A2BE2;


}

.capa{
    color:blueviolet
    font-size: 20px;
}

#heroi{
    display: flex;
    padding-left: 200px;
}
.videos{
   display:flex;
   overflow:auto;
   gap:10px
}
.videos img{
    opacity:0.5;
    heght: 200px;
}

.videos img:hover{
    opacity:1.0;
border:3px solid #c6a974;

}
